.lightbox-overlay {
  background: #000000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 2;
}
.lightbox-image-container {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -300px;
  background: #ffffff;
  z-index: 3;
  -webkit-box-shadow: 0 0 20px 6px #000000;
  -moz-box-shadow: 0 0 20px 6px #000000;
  box-shadow: 0 0 20px 6px #000000;
  border: 10px solid #eeeeee;
}
button.close-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  margin-top: -28px;
  margin-right: -28px;
  background: url(../images/close-it.png) no-repeat;
  width: 35px;
  height: 35px;
  border: none;
  text-indent: -999999px;
}
